.searchbar {
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(6px);
  border: 1px solid #ddd;
  border-radius: 999px;
  padding: 0.3rem 1rem;
  width: 600px;
  transition: box-shadow 0.3s;
}

.searchbar:hover {
  border: 1px solid #888;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.icon {
  color: #888;
  font-size: 1.4rem;
}

.searchbar input {
  border: none;
  outline: none;
  background: transparent;
  padding-left: 0.5rem;
  width: 100%;
  font-size: 0.9rem;
  color: #222;
}
